.logo{
    width: 150px; 
    height: auto; 
    display: block;
}

/*Para lograr que mi imagen de la pagina principal quede a lo largo*/
.contenedor-imagen {
    width: 100%;
}
.imagen-indice{
    border-radius: 10px ;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}
.imagenes{
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.imagen-mapa{
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px; 
    margin-bottom: 10px;    
    margin: 10px auto;
    display: block;
}