.barra-navegacion {
    @include flex-jc-sb;
    align-items: center; /* Centra verticalmente */
    padding: 10px 20px; /* Espaciado interno */
    background-color: $grey-black; /* Fondo oscuro */
    color: $white; /* Texto blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    grid-area: barra-navegacion;
    
    /* Estilo del logo */
    .logo {
        width: 120px; /* Ajusta el tamaño del logo */
        max-width: 100%; /* Asegura que sea responsive */
    }
}

  
/* Estilo del menú de navegación */
.navegacion {
    list-style: none; /* Elimina los puntos de lista */
    display: flex; /* Crea una disposición horizontal */
    gap: 20px; /* Espaciado entre elementos */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina relleno */

    a {
        text-decoration: none; /* Elimina subrayado */
        color: $white; /* Texto blanco */
        font-size: 16px; /* Tamaño del texto */
        font-weight: bold; /* Negrita para destacar */
        padding: 5px 10px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        transition: background-color 0.3s ease; /* Suaviza el hover */
    
        &:hover {
            background-color: $golden; /* Fondo dorado al pasar el mouse */
            color: $grey-black; /* Texto oscuro */
        }
    }
}
  
   
  
  
  