.nuevo-ingreso {
    background-color: $black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    color: $golden; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #daa520;  
    }
    
}
.auto-nuevo-ingreso {
    background-color: $grey-black;
    border: 1px solid $golden;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width:50%; 
    height: 280px;
    @include flex-jc-sa;
    flex-direction: column;
    align-items: center;
    color: $white;
    @include hover-animation;
}

.boton-ver-mas-unidades{
    text-align: center;
    padding: 10px;
}
