/* Estilos para pantallas pequeñas (Mobile First) */
@media (max-width: 768px) {
    .contenedor-testimonios blockquote,
    .auto-nuevo-ingreso,
    .auto-nuevo-ingreso-catalogo {
        width: 100%; 
    }

    .contacto {
        flex-direction: column; 
        gap: 20px; 
    }

    .formulario {
        margin-left: 0; 
    }

    .barra-navegacion {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .barra-navegacion .logo {
        width: 120px; /* Ajusta el tamaño del logo para pantallas pequeñas */
    }

    .navegacion {
        flex-direction: column; 
        gap: 10px; 
    }

    .nuevo-ingreso {
        flex-direction: column; 
    }

    .footer-top {
        flex-direction: column;
        align-items: center; 
    }
}