// colores
$black:#222;
$grey-black:#333;
$golden: #daa520;
$white: #fff;

body{ 
    background-color: #D0CFCF; /*Color del fondo de la pagina*/
}

h1{
    font-size: 50px;
    border-bottom: 2px solid #000000; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    text-align: center;
    padding: 10px;

}

h2 {
    font-size: 36px; 
    color: #333333; 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 10px; 
    border-bottom: 2px solid #000; 
    text-transform: capitalize; 
}